header {
    color: var(--color-text);
    background-color: var(--color-background-page);
    text-align: center;
}
body{
    background-color: var(--color-body-page);
}
ul{
    list-style-type: none; 
    padding: 0;            
    margin: 0; 
}
img{
    width: 50%;
    display: block;        
    margin-left: auto;
    margin-right: auto;
}
h1 {
  font-size: var(--size-type-xxlarge);
  font-style: var(--font-family-header);
  line-height: 1;
  font-weight: var(--font-weight-bold);
}
h2 {
  font-size: var(--size-type-xlarge);
  font-weight: var(--font-weight-bold);
}
h3 {
  font-size: var(--size-type-large);
  font-weight: var(--font-weight-normal);
}
h4 {
  font-size: var(--size-type-mlarge);
  font-weight: var(--font-weight-bold);
}
h5 {
  font-size: var(--size-type-body);
  font-weight: var(--font-weight-bold);
}
h6 {
  font-size: var(--size-type-body);
  font-weight: var(--font-weight-normal);
  font-style: italic;
}
dt {
  font-weight: var(--size-type-body);
}
h3 {
  color: var(--color-accent);
}
a {
  color: var(--color-link);
}
svg.icon {
  --size-icon: var(--size-icon-normal);

  display: inline-block;
  height: var(--size-icon);
  width: var(--size-icon);
  vertical-align: calc(0.5em - 0.5 * var(--size-icon));
  fill: currentColor;
}



.page{
  --page-grids: 3;
  display: grid;
  grid-template-columns:
    repeat( var(--page-grids), 1fr );
  gap: var(--size-spacing-medium);

}
