:root {
  --size-icon-normal: 2em;
  --size-icon-large: 4em;

  --size-spacing-small: 0.25rem;
  --size-spacing-medium: 0.5rem;
  --size-spacing-large: 1rem;
  --size-spacing-xlarge: 2rem;

  --size-radius-medium: var(--size-spacing-medium);

  --size-type-body: 1rem;
  --size-type-mlarge: 1.25rem;
  --size-type-large: 1.5rem;
  --size-type-xlarge: 2rem;
  --size-type-xxlarge: 2.5rem;

  --color-accent: #2A2A28;
  --color-background-header: var(--color-accent);
  --color-background-page: #5A4A3A;
  --color-second: #5A4A3A;
  --color-third: #8B7A65;
  --color-background-card: #5A4A3A;
  --color-body-page: radial-gradient(circle at top left,#FDFCE8 0%,#F7F0D9 35%,#F7EECF 65%,#EEDBB8 100%);
  --color-border: var(--color-accent);
  --color-link-inverted: rgb(255 208 0);
  --color-link: var(--color-accent);
  --color-text: #000000;
  --color-text-heading: var(--color-accent);
  --color-text-inverted: rgb(255 255 255);
  --color-error: rgb(200, 23, 23);
  
  --font-family-header:"Odibee Sans", sans-serif;
  --font-family-body: Merriweather, Baskerville, Cambria,
    "Noto Serif", "Bitstream Charter", serif;
  --font-family-display: Kanit, "Trebuchet MS", Calibri, Roboto,
    "Segoe UI", Ubuntu, sans-serif;

  --font-line-height-body: 1.5;
  --font-line-height-compact: 1.25;
  --font-line-height-display: 1.125;
  --font-line-height-logotype: 1;

  --font-weight-normal: 400;
  --font-weight-light: 200;
  --font-weight-bold: 700;

  --line-weight-rule: 1px;
}

body.dark-mode {
  --color-background-page: #002366;
  --color-second: #253658;
  --color-third: #1F2A3E;
  --color-text: #E9ECF2;
  --color-background-card: #0C1120F2;
  --color-body-page: radial-gradient(circle at top left, #253658 0, #0a0f1f 45%, #060814 100%);
  --color-accent: #E9ECF2;
  --color-link:#E9ECF2;
  --color-text-control: rgb(51 51 51);
  --color-text-control-inverted: var(--color-background-page);
}
